# Ignore data folder
src/data/

# Ignore virtual environments
venv/
.env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model files (if you save them later)
*.pkl

# Ignore Docker files cache
*.log
