# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual environments ----
venv/
.env/
.venv/

# ---- Data folder (exclude datasets) ----
src/data/

# ---- R environment or history files ----
.Rhistory
.RData
.Rproj.user/

# ---- Logs / temporary files ----
*.log
*.tmp

# ---- Jupyter / notebooks ----
.ipynb_checkpoints/

# ---- Docker ----
*.pid
*.tar
